<!doctype html>

<head>
  <title>Kapit</title>
  <link rel="stylesheet" href="/css/app.css">

<body>
  <main id="app">
    <h1><router-link to="/">Kapit</router-link></h1>
    <p>Indoor Climbing Routes Library</p>
    <div v-if="user" class="user">
      <div class="avatar"><img :src="user.photoURL"></div>
      <small>
        Logged in as <strong>{{ user.displayName }}</strong>
        &mdash; <a href="#" @click="logout">Logout</a>
      </small>
    </div>
    <p v-else>
      <button @click="login">Login with Facebook</button>
    </p>
    <router-view :user="user"></router-view>
  </main>

  <script id="index" type="text/x-template">
    <div class="index">
      <h2>All routes</h2>
      <router-link v-if="user" class="btn" to="/submit">Submit a route</router-link>
      <ul class="routes" v-if="routes">
        <li v-for="route in routes">
          <span :class="['gym', route.gym]">{{ route.gym }}</span>
          <router-link class="name" :to="'routes/' + route['.key']">
            {{ route.name || 'Route by ' + route.setter }}
          </router-link>
          <span class="grade">{{ route.grade }}</span>
          <img class="type" :src="'/images/' + route.type + '.svg'">
        </li>
      </ul>
    </div>
  </script>

  <script id="submit" type="text/x-template">
    <div class="submit">
      <h2>Submit a route</h2>
      <div v-if="step === 'selectRouteType'">
        <p class="choices">
          <strong>Gym</strong>
          <select v-model="routeGym">
            <option v-for="gym in gymChoices" :value="gym.id">{{ gym.name }}</option>
          </select>
        </p>
        <p class="choices">
          <strong>Route type</strong>
          <label>
            <input v-model="routeType" type="radio" value="topRope">
            <span>Top rope</span>
          </label>
          <label>
            <input v-model="routeType" type="radio" value="lead">
            <span>Lead</span>
          </label>
          <label>
            <input v-model="routeType" type="radio" value="boulder">
            <span>Boulder</span>
          </label>
        </p>
        <p v-if="gradingChoices" class="choices">
          <strong>Grading system</strong>
          <label v-for="grading in gradingChoices">
            <input v-model="routeGrading" type="radio" :value="grading.id">
            <span>{{ grading.name }}</span>
          </label>
        </p>
        <p v-if="gradeChoices" class="choices">
          <strong>Grade</strong>
          <select v-model="routeGrade">
            <option v-for="grade in gradeChoices" :value="grade">{{ grade }}</option>
          </select>
        </p>
        <p class="upload">
          <label>
            <input type="file" :disabled="!allowNext" @change="uploadPhoto">
            <span>Upload route photo</span>
          </label>
        </p>
      </div>
      <div v-else-if="step === 'editPhoto'">
        <p class="tip">
          <small>You can optionally make markings on the route photo to identify holds and features.</small>
        </p>
        <paper :url="routePhoto" ref="canvas"></paper>
        <p>
          <button :disabled="!allowNext" @click="savePhoto">Save photo</button>
        </p>
      </div>
      <div v-else-if="step === 'submitRoute'">
        <p class="photo"><img :src="routePhoto"></p>
        <p>
          Setter
          <input v-model="routeSetter" type="text">
        </p>
        <p>
          Name (optional)
          <input v-model="routeName" type="text">
        </p>
        <p>
          Description (optional)
          <textarea v-model="routeDescription" rows="5"></textarea>
        </p>
        <p>
          <button :disabled="!allowNext" @click="submitRoute">Submit route</button>
        </p>
      </div>
    </div>
  </script>

  <script id="route" type="text/x-template">
    <div v-if="route['.key']" class="route">
      <div class="name">
        <h2>
          <small>{{ gymName }}</small><br>
          {{ route.name || 'Route by ' + route.setter }}
        </h2>
        <span class="grade">{{ route.grade }}</span>
        <img class="type" :src="'/images/' + route.type + '.svg'">
      </div>
      <p v-if="route.name">
        Set by <strong>{{ route.setter }}</strong>
      </p>
      <p class="photo"><img :src="route.photo"></p>
      <p v-if="route.description">{{ route.description }}</p>
      <p class="submission">
        Submitted by <strong>{{ route.submittedBy.displayName }}</strong>
      </p>
    </div>
    <div v-else>
      <h2>Warming up&hellip;</h2>
    </div>
  </script>

  <script src="//www.gstatic.com/firebasejs/3.6.4/firebase-app.js"></script>
  <script src="//www.gstatic.com/firebasejs/3.6.4/firebase-auth.js"></script>
  <script src="//www.gstatic.com/firebasejs/3.6.4/firebase-database.js"></script>
  <script src="//www.gstatic.com/firebasejs/3.6.4/firebase-storage.js"></script>
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="//unpkg.com/vuefire/dist/vuefire.js"></script>
  <script src="/js/paper-full.js"></script>
  <script src="/js/app.js"></script>

